body {
    background-image: linear-gradient(rgb(0, 98, 255), rgb(5, 234, 247));
    background-repeat: no-repeat; /* Add this line to prevent repeating */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
    animation: animation 1s infinite;
}

@keyframes animation {
    0% {
        background-position: top;
    }
    100% {
        background-position: bottom;
    }
}


header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
#title{
    width: 400px;
    margin: none;
    display:flex;
}
img{
    width: 250px;
    max-width: 100%;
    height: auto;
    border-radius: 200px;
    border: 3px solid lightgray;
}

h1, h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px 0px 20px;
    color: lightgray
}

p{
    padding-left: 20px;
    color: lightgray
}

a{
    font-size: 25px;
    margin-left:10px;
    margin-bottom: 20px;
}

ul, ol {
    color: rgb(105, 78, 44); 
    margin-bottom: 40px;
    color: lightgray
}

.tom-profile-grid, .mingfei-profile-grid{
    display: grid;
    margin: 20px 40px 20px 40px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    grid-gap: 30px;
    padding:20px;
    border-radius: 10px;
    border:2px solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    transition: 0.25s;
}
.profile-grid:hover{
    background-color:rgb(247, 222, 84);
    cursor:pointer;
}
.tom-profile-grid:hover .tom-grid-photo{
    width: 100px
}
.mingfei-profile-grid:hover .mingfei-grid-photo{
    width: 100px
}
.profile-grid div{
    display:flex;
    justify-content: center;
    align-items: center;
}
.tom-grid-photo, .mingfei-grid-photo{
    transition: 0.25s;
    width: 60px;
    border: none;
}

@media screen and (min-width: 1000px) {
    .profile-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        font-size: 25px;
        
    }
    .profile-grid div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .profile-grid {
        grid-template-columns: 1fr;
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    .grid-photo {
        width: 100%; 
    }
    
}







